In [ ]:
!pip install pymongo

In [ ]:
import pymongo
import pandas as pd

In [ ]:
client = pymongo.MongoClient('')
db = client.NOME # nome del database

# **INSERT**

In [ ]:
import datetime
post = {"author": "Mike",
        "text": "My first blog post!",
        "tags": ["mongodb", "python", "pymongo"],
        "date": datetime.datetime.utcnow()}

In [ ]:
post_id = db.posts_test.insert_one(post).inserted_id
post_id

ObjectId('6245968993197e655390b7b3')

In [ ]:
df1 = pd.DataFrame(list(db.posts_test.find()))
df1

,_id,author,text,tags,date
0,6245968993197e655390b7b3,Mike,My first blog post!,"[mongodb, python, pymongo]",2022-03-31 11:54:49.353

PIU POST (PIU DI UNO)

In [ ]:
new_posts = [{"author": "Mike",
              "text": "Another post!",
              "tags": ["bulk", "insert"],
              "date": datetime.datetime(2009, 11, 12, 11, 14)},
             {"author": "Eliot",
              "title": "MongoDB is fun",
              "text": "and pretty easy too!",
              "date": datetime.datetime(2009, 11, 10, 10, 45)}]

In [ ]:
post_id = db.posts_test.insert_many(new_posts).inserted_ids
post_id

[ObjectId('6245968a93197e655390b7b4'), ObjectId('6245968a93197e655390b7b5')]

In [ ]:
df1 = pd.DataFrame(list(db.posts_test.find()))
df1

,_id,author,text,tags,date,title
0,6245968993197e655390b7b3,Mike,My first blog post!,"[mongodb, python, pymongo]",2022-03-31 11:54:49.353,NaN
1,6245968a93197e655390b7b4,Mike,Another post!,"[bulk, insert]",2009-11-12 11:14:00.000,NaN
2,6245968a93197e655390b7b5,Eliot,and pretty easy too!,NaN,2009-11-10 10:45:00.000,MongoDB is fun

In [ ]:
from bson.objectid import ObjectId
df1 = pd.DataFrame(list(db.posts_test.find({'_id': ObjectId('6245910193197e655390b7b1')})))
df1

#**UPDATE**

In [ ]:
result = db.posts_test.update_one({'_id': ObjectId('6245910193197e655390b7b1')}, {"$set": {"text": 'Post changed!!?'}})
result.modified_count

In [ ]:
df1 = pd.DataFrame(list(db.posts_test.find()))
df1

,_id,author,text,tags,date,title
0,6245968993197e655390b7b3,Mike,My first blog post!,"[mongodb, python, pymongo]",2022-03-31 11:54:49.353,NaN
1,6245968a93197e655390b7b4,Mike,Another post!,"[bulk, insert]",2009-11-12 11:14:00.000,NaN
2,6245968a93197e655390b7b5,Eliot,and pretty easy too!,NaN,2009-11-10 10:45:00.000,MongoDB is fun

In [ ]:
result = db.posts_test.update_many({'author': "Mike"}, {"$set": {"author": 'Michael'}})
result.modified_count

2

In [ ]:
df1 = pd.DataFrame(list(db.posts_test.find()))
df1

,_id,author,text,tags,date,title
0,6245968993197e655390b7b3,Michael,My first blog post!,"[mongodb, python, pymongo]",2022-03-31 11:54:49.353,NaN
1,6245968a93197e655390b7b4,Michael,Another post!,"[bulk, insert]",2009-11-12 11:14:00.000,NaN
2,6245968a93197e655390b7b5,Eliot,and pretty easy too!,NaN,2009-11-10 10:45:00.000,MongoDB is fun

In [ ]:
result = db.posts_test.update_many({'_id': ObjectId('6245910193197e655390b7b1')}, {"$push": {"tags": 'append'}})
result.modified_count

In [ ]:
df1 = pd.DataFrame(list(db.posts_test.find()))
df1

,_id,author,text,tags,date,title
0,6245968993197e655390b7b3,Michael,My first blog post!,"[mongodb, python, pymongo]",2022-03-31 11:54:49.353,NaN
1,6245968a93197e655390b7b4,Michael,Another post!,"[bulk, insert]",2009-11-12 11:14:00.000,NaN
2,6245968a93197e655390b7b5,Eliot,and pretty easy too!,NaN,2009-11-10 10:45:00.000,MongoDB is fun

In [ ]:
result = db.posts_test.update_many({'_id': ObjectId('6245910193197e655390b7b1')}, {"$pull": {"tags": 'append'}})
result.modified_count

In [ ]:
df1 = pd.DataFrame(list(db.posts_test.find()))
df1

,_id,author,text,tags,date,title
0,6245968993197e655390b7b3,Michael,My first blog post!,"[mongodb, python, pymongo]",2022-03-31 11:54:49.353,NaN
1,6245968a93197e655390b7b4,Michael,Another post!,"[bulk, insert]",2009-11-12 11:14:00.000,NaN
2,6245968a93197e655390b7b5,Eliot,and pretty easy too!,NaN,2009-11-10 10:45:00.000,MongoDB is fun

# **DELETE**

In [ ]:
result = db.posts_test.delete_one({"author": 'Michael'})
result.deleted_count

1

In [ ]:
df1 = pd.DataFrame(list(db.posts_test.find()))
df1

,_id,author,text,tags,date,title
0,6245968a93197e655390b7b4,Michael,Another post!,"[bulk, insert]",2009-11-12 11:14:00,NaN
1,6245968a93197e655390b7b5,Eliot,and pretty easy too!,NaN,2009-11-10 10:45:00,MongoDB is fun

In [ ]:
result = db.posts_test.delete_many({"author": 'Eliot'}) 
result.deleted_count

1

In [ ]:
df1 = pd.DataFrame(list(db.posts_test.find()))
df1

,_id,author,text,tags,date
0,6245968a93197e655390b7b4,Michael,Another post!,"[bulk, insert]",2009-11-12 11:14:00