In [ ]:
import pymongo
import pandas as pd

In [ ]:
client = pymongo.MongoClient('')
db = client.NOME # nome del database

In [ ]:
doc = db.impianti.find_one()
doc

{'ID_NIL': '33',
 'INDIRIZZO': 'Via MONTE PIANA 7',
 'LAT_Y_WGS84': '45.4304480881418',
 'LONG_X_WGS84': '9.24644868121172',
 'Location': '(45.4304480881418, 9.24644868121172)',
 'MUNICIPIO': '4',
 'NIL': 'ROGOREDO - SANTA GIULIA',
 'Sit_NomeImpianto': 'MI ROGOREDO WS',
 'Sit_NomeVia': 'MONTE PIANA',
 'Sit_NumCiv': '7',
 'Sit_StatoImpianto': 'Acceso',
 'Ti_TipoImpianto': 'Altro',
 'Tv_TipoVia': 'Via',
 '_id': ObjectId('623d87f4b366b309e9368d02'),
 'gestore': 'WorldSpace Italia S.p.A.'}

In [ ]:
df1 = pd.DataFrame(list(db.impianti.find()))
df1

,_id,Sit_NomeImpianto,gestore,Ti_TipoImpianto,Sit_StatoImpianto,Tv_TipoVia,Sit_NomeVia,Sit_NumCiv,INDIRIZZO,MUNICIPIO,ID_NIL,NIL,LONG_X_WGS84,LAT_Y_WGS84,Location
0,623d87f4b366b309e9368d02,MI ROGOREDO WS,WorldSpace Italia S.p.A.,Altro,Acceso,Via,MONTE PIANA,7,Via MONTE PIANA 7,4,33,ROGOREDO - SANTA GIULIA,9.24644868121172,45.4304480881418,"(45.4304480881418, 9.24644868121172)"
1,623d87f4b366b309e9368d03,SKY NUOVA SEDE,SKY Italia S.r.l.,Altro,Acceso,Sito,QUARTIERE SANTA GIULIA,NaN,Sito QUARTIERE SANTA GIULIA,4,33,ROGOREDO - SANTA GIULIA,9.24147702216754,45.4337350830028,"(45.4337350830028, 9.24147702216754)"
2,623d87f4b366b309e9368d04,FAMAGOSTA,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Altro,Acceso,Via,PALATUCCI,NaN,Via PALATUCCI,6,46,BARONA,9.17022664716363,45.4371666703457,"(45.4371666703457, 9.17022664716363)"
3,623d87f4b366b309e9368d05,SEDE TRENTO,A2A S.p.A.,Altro,Acceso,Piazza,TRENTO,13,Piazza TRENTO 13,5,27,PTA ROMANA,9.20172295654383,45.4461075399714,"(45.4461075399714, 9.20172295654383)"
4,623d87f4b366b309e9368d06,LAMBRO MILANO 1,ENAV S.p.A.,Altro,Acceso,Sito,AEROPORTO FORLANINI - MILANO LINATE,NaN,Sito AEROPORTO FORLANINI - MILANO LINATE,4,31,MONLUE' - PONTE LAMBRO,9.26450594280557,45.4592651329697,"(45.4592651329697, 9.26450594280557)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1788,623d87fbb366b309e93693fe,HOTEL IBIS MILANO CENTRO,VODAFONE,WiFi,Acceso,Via,FINOCCHIARO APRILE,2,Via FINOCCHIARO APRILE 2,2,10,STAZIONE CENTRALE - PONTE SEVESO,9.20196527286705,45.4782227735638,"(45.4782227735638, 9.20196527286705)"
1789,623d87fbb366b309e93693ff,MILANO RAI,e-via S.p.A.,WiFi,Acceso,Corso,SEMPIONE,27,Corso SEMPIONE 27,8,68,PAGANO,9.16571908469372,45.478470023673,"(45.478470023673, 9.16571908469372)"
1790,623d87fbb366b309e9369400,CORSO SEMPIONE,Linkem S.p.A.,WiFi,Acceso,Corso,SEMPIONE,27,Corso SEMPIONE 27,8,68,PAGANO,9.16582170444859,45.4785598850507,"(45.4785598850507, 9.16582170444859)"
1791,623d87fbb366b309e9369401,MI WIFI CAB GIOIA 22,TIM S.p.A.,WiFi,Acceso,Via,GIOIA Melchiorre,22,Via GIOIA Melchiorre 22,9,9,PORTA GARIBALDI - PORTA NUOVA,9.19571817036434,45.4846513396339,"(45.4846513396339, 9.19571817036434)"
1792,623d87fbb366b309e9369402,NOVOTEL MI NORD CA' GRANDA,VODAFONE,WiFi,Acceso,Viale,SUZZANI,13,Viale SUZZANI 13,9,14,NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE...,9.19590937313315,45.5066223878702,"(45.5066223878702, 9.19590937313315)"

1. Visualizzare l'elenco degli impianti accesi. Visualizzare solo il nome e l'indirizzo

In [ ]:
result = db.impianti.find({"Sit_StatoImpianto": "Acceso"}, {"_id": 0, "Sit_NomeImpianto": 1, "INDIRIZZO": 1})
df = pd.DataFrame(list(result))
df

                Sit_NomeImpianto                                 INDIRIZZO
0                 MI ROGOREDO WS                         Via MONTE PIANA 7
1                 SKY NUOVA SEDE               Sito QUARTIERE SANTA GIULIA
2                      FAMAGOSTA                             Via PALATUCCI
3                    SEDE TRENTO                          Piazza TRENTO 13
4                LAMBRO MILANO 1  Sito AEROPORTO FORLANINI - MILANO LINATE
...                          ...                                       ...
1513    HOTEL IBIS MILANO CENTRO                  Via FINOCCHIARO APRILE 2
1514                  MILANO RAI                         Corso SEMPIONE 27
1515              CORSO SEMPIONE                         Corso SEMPIONE 27
1516        MI WIFI CAB GIOIA 22                   Via GIOIA Melchiorre 22
1517  NOVOTEL MI NORD CA' GRANDA                          Viale SUZZANI 13

[1518 rows x 2 columns]

2. Visualizzare gli indirizzi in cui si trovano gli impianti dell'ATM

In [ ]:
result = db.impianti.find({"gestore": {"$regex": "A.T.M."}}, {"INDIRIZZO": 1, "_id": 0})
df = pd.DataFrame(list(result))
df

                                INDIRIZZO
0                           Via PALATUCCI
1   Località PARCHEGGIO ATM CASCINA GOBBA
2                        Piazza GRAMSCI 2
3                        Piazza GRAMSCI 2
4                        Piazza GRAMSCI 2
5                        Via MARIGNANO 51
6                           Via PALATUCCI
7                               Via PARRI
8                            Via LARGA 12
9                       Via MONTE ROSA 89
10                      Via MONTE ROSA 89
11                         Via PIRELLI 39
12                         Via PIRELLI 39
13                            Via GATTO 3

3. Visualizzare l'elenco degli impianti della Vodafone e della TIM

In [ ]:
result = db.impianti.find({'$or': [{'gestore': "VODAFONE"}, {"gestore": {"$regex": "TIM"}}]})
df = pd.DataFrame(list(result))
df

,_id,Sit_NomeImpianto,gestore,Ti_TipoImpianto,Sit_StatoImpianto,Tv_TipoVia,Sit_NomeVia,Sit_NumCiv,INDIRIZZO,MUNICIPIO,ID_NIL,NIL,LONG_X_WGS84,LAT_Y_WGS84,Location
0,623d87f4b366b309e9368d0f,MI V.LE JENNER,TIM S.p.A.,Altro,Acceso,Viale,JENNER,17,Viale JENNER 17,9,78,FARINI,9.182194204837,45.4970140155297,"(45.4970140155297, 9.182194204837)"
1,623d87f4b366b309e9368d14,MI RIPAMONTI IEO MC,TIM S.p.A.,Microcella,Acceso,Via,RIPAMONTI,435,Via RIPAMONTI 435,5,85,PARCO DELLE ABBAZIE,9.20841157139043,45.415032838182,"(45.415032838182, 9.20841157139043)"
2,623d87f4b366b309e9368d1a,SKY SANTA GIULIA,VODAFONE,Microcella,Acceso,Via,MONTE PENICE,7,Via MONTE PENICE 7,4,33,ROGOREDO - SANTA GIULIA,9.24101521646586,45.4333670130579,"(45.4333670130579, 9.24101521646586)"
3,623d87f4b366b309e9368d1b,SKY 3° SEDE,VODAFONE,Microcella,Acceso,Via,MONTE PENICE,7,Via MONTE PENICE 7,4,33,ROGOREDO - SANTA GIULIA,9.24101521646586,45.4333670130579,"(45.4333670130579, 9.24101521646586)"
4,623d87f4b366b309e9368d1c,ATAHOTEL QUARK,VODAFONE,Microcella,Acceso,Via,LAMPEDUSA,11,Via LAMPEDUSA 11,5,42,STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA...,9.18985275799358,45.4335713706427,"(45.4335713706427, 9.18985275799358)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,623d87fbb366b309e93693f4,TELENOVA,MULTIMEDIA SAN PAOLO S.r.l.,Televisione,Acceso,Via,SAN GALDINO,5,Via SAN GALDINO 5,8,69,SARPI,9.1669591065528,45.4867941405754,"(45.4867941405754, 9.1669591065528)"
729,623d87fbb366b309e93693fd,TOWN HOUSE GALLERY,VODAFONE,WiFi,Acceso,Via,PELLICO,8,Via PELLICO 8,1,1,DUOMO,9.18973039358317,45.465777315237,"(45.465777315237, 9.18973039358317)"
730,623d87fbb366b309e93693fe,HOTEL IBIS MILANO CENTRO,VODAFONE,WiFi,Acceso,Via,FINOCCHIARO APRILE,2,Via FINOCCHIARO APRILE 2,2,10,STAZIONE CENTRALE - PONTE SEVESO,9.20196527286705,45.4782227735638,"(45.4782227735638, 9.20196527286705)"
731,623d87fbb366b309e9369401,MI WIFI CAB GIOIA 22,TIM S.p.A.,WiFi,Acceso,Via,GIOIA Melchiorre,22,Via GIOIA Melchiorre 22,9,9,PORTA GARIBALDI - PORTA NUOVA,9.19571817036434,45.4846513396339,"(45.4846513396339, 9.19571817036434)"
732,623d87fbb366b309e9369402,NOVOTEL MI NORD CA' GRANDA,VODAFONE,WiFi,Acceso,Viale,SUZZANI,13,Viale SUZZANI 13,9,14,NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE...,9.19590937313315,45.5066223878702,"(45.5066223878702, 9.19590937313315)"

4. Visualizzare gli indirizzi in cui c'è più di un impianto

In [ ]:
result = db.impianti.aggregate([{"$group": {"_id": "$INDIRIZZO", "total": {"$sum": 1}}},
                                {"$match": {"total": { "$gt": 1}}},
                                {"$project": {"_id": 1, "total": 0}}])
df2 = pd.DataFrame(list(result))
df2

                                          _id
0                           Via FIORAVANTI 17
1                      Viale FULVIO TESTI 280
2    Sito AEROPORTO FORLANINI - MILANO LINATE
3                     Viale Legioni Romane 43
4                                Via CASSINIS
..                                        ...
230                             Viale LAZIO 5
231                       Piazza DUCA D'AOSTA
232                 Corso di Porta Romana 113
233                                Via TOTI 2
234                              Via PATROCLO

[235 rows x 1 columns]

5. Visualizzare i gestori che sono società per azioni. Ordinare in ordine alfabetico

In [ ]:
result = db.impianti.find({'gestore': {"$regex": "S.p.A."}}, {"gestore": 1, "_id": 0}).sort("gestore", 1)
df = pd.DataFrame(list(result))
df

                                           gestore
0     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
1     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
2     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
3     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
4     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
...                                            ...
998                                Wind Tre S.p.A.
999                                Wind Tre S.p.A.
1000                               Wind Tre S.p.A.
1001                      WorldSpace Italia S.p.A.
1002                                  e-via S.p.A.

[1003 rows x 1 columns]

6. Visualizzare il numero di impianti per ogni gestore

In [ ]:
result = db.impianti.aggregate([{"$group": {"_id": "$gestore", "total": {"$sum": 1}}}])
df2 = pd.DataFrame(list(result))
df2

                                  _id  total
0                       RETE A S.p.A.      2
1   GENERAL BROADCASTING RADIO S.p.A.      1
2                   TELESPAZIO S.p.A.      2
3                  NOVARADIO A S.r.l.      1
4                      FASTWEB S.p.A.      4
..                                ...    ...
64               RADIO LAGOUNO S.r.l.      1
65                         TIM S.p.A.    382
66        CENTRO DI PRODUZIONE S.p.A.      6
67                   UNITEDCOM S.r.l.      1
68                        WAVW S.r.l.      1

[69 rows x 2 columns]

7. Visualizzare i gestori che hanno più di 100 impianti. Ordinare in ordine decrescente a partire dal gestore che ha più impianti

In [ ]:
result = db.impianti.aggregate([{"$group": {"_id": "$gestore", "total": {"$sum": 1}}},
                                {"$match": { "total": {"$gt": 100}}},
                                {"$sort": {"total": -1 }}])
df2 = pd.DataFrame(list(result))
df2

                             _id  total
0                     TIM S.p.A.    382
1         CommsCon Italia S.r.l.    376
2                       VODAFONE    328
3                Wind Tre S.p.A.    213
4  WIND TELECOMUNICAZIONI S.p.A.    102

8. Visualizzare i gestori che hanno impianti all'aeroporto di Linate

In [ ]:
result = db.impianti.find({"INDIRIZZO": {"$regex": "LINATE"}}, {"_id": 0, "gestore": 1, "INDIRIZZO": 1})
df = pd.DataFrame(list(result))
df

       gestore                                 INDIRIZZO
0  ENAV S.p.A.  Sito AEROPORTO FORLANINI - MILANO LINATE
1  ENAV S.p.A.  Sito AEROPORTO FORLANINI - MILANO LINATE

9. Visualizzare i gestori di cui non si conosce il tipo della via in cui si trovano i loro impianti

In [ ]:
result = db.impianti.find({"Tv_TipoVia": {"$regex": "---"}})
df = pd.DataFrame(list(result))
df

,_id,Sit_NomeImpianto,gestore,Ti_TipoImpianto,Sit_StatoImpianto,Tv_TipoVia,LONG_X_WGS84,LAT_Y_WGS84,Location
0,623d87f4b366b309e93690b1,MILANO/BQ2,WIND TELECOMUNICAZIONI S.p.A.,Ponte,Acceso,---,9.19339871835639,45.5323423312983,"(45.5323423312983, 9.19339871835639)"

10. Visualizzare gli impianti che si trovano a Cimiano

In [ ]:
result = db.impianti.find({"NIL": {"$regex": "CIMIANO"}}, {"_id": 0, "Sit_NomeImpianto": 1, "NIL": 1})
df = pd.DataFrame(list(result))
df

                        Sit_NomeImpianto                              NIL
0                          CASCINA GOBBA  CIMIANO - ROTTOLE - Q.RE FELTRE
1                     MI BELLINCIONE SC1  CIMIANO - ROTTOLE - Q.RE FELTRE
2   METRO-GALLERIA LAMBRATE-UDINE CV6BIS  CIMIANO - ROTTOLE - Q.RE FELTRE
3       METRO-GALLERIA LAMBRATE-UDINE MC  CIMIANO - ROTTOLE - Q.RE FELTRE
4                     MI UDINE CARNIA MC  CIMIANO - ROTTOLE - Q.RE FELTRE
5                   METRO-STAZ. UDINE MC  CIMIANO - ROTTOLE - Q.RE FELTRE
6                    MI FELTRE CREVAL MC  CIMIANO - ROTTOLE - Q.RE FELTRE
7           METRO-GALLERIA UDINE-CIMIANO  CIMIANO - ROTTOLE - Q.RE FELTRE
8                           MI SANGRO MC  CIMIANO - ROTTOLE - Q.RE FELTRE
9                              SANGRO MC  CIMIANO - ROTTOLE - Q.RE FELTRE
10                      viale Turchia MC  CIMIANO - ROTTOLE - Q.RE FELTRE
11  METRO-GALLERIA UDINE-CIMIANO 1BIS MC  CIMIANO - ROTTOLE - Q.RE FELTRE
12    IT-LO-MIL-0359 VIA DON CALABRIA MC  CIMIANO - ROTTOLE - Q.RE FELTRE
13                         MI RIZZOLI MC  CIMIANO - ROTTOLE - Q.RE FELTRE
14                                ROMBON  CIMIANO - ROTTOLE - Q.RE FELTRE
15                         VIA PALMANOVA  CIMIANO - ROTTOLE - Q.RE FELTRE
16                                ROMBON  CIMIANO - ROTTOLE - Q.RE FELTRE
17                            VIA FELTRE  CIMIANO - ROTTOLE - Q.RE FELTRE
18                      QUARTIERE FELTRE  CIMIANO - ROTTOLE - Q.RE FELTRE
19                             MI LAMBRO  CIMIANO - ROTTOLE - Q.RE FELTRE
20                           VIA RIZZOLI  CIMIANO - ROTTOLE - Q.RE FELTRE
21                       5G SAN RAFFAELE  CIMIANO - ROTTOLE - Q.RE FELTRE
22                         CASCINA GOBBA  CIMIANO - ROTTOLE - Q.RE FELTRE
23                            VIA PADOVA  CIMIANO - ROTTOLE - Q.RE FELTRE

11. Visualizzare gli impianti che non sono accesi e chi si trovano a Cimiano e nel quartiere Adriano

In [ ]:
result = db.impianti.find({'$and': [{'Sit_StatoImpianto': {'$not': {'$eq': 'Acceso'}}}, {'$or': [{'NIL': {'$regex': 'CIMIANO'}}, {'NIL': {'$regex': 'Adriano'}}]}]})
df11 = pd.DataFrame(list(result))
df11[['Sit_NomeImpianto', 'Sit_StatoImpianto', 'NIL']]

,Sit_NomeImpianto,Sit_StatoImpianto,NIL
0,VIA PALMANOVA,Acceso con incoerenza grave,CIMIANO - ROTTOLE - Q.RE FELTRE
1,ROMBON,Acceso SCIA,CIMIANO - ROTTOLE - Q.RE FELTRE
2,VIA FELTRE,Acceso SCIA,CIMIANO - ROTTOLE - Q.RE FELTRE
3,QUARTIERE FELTRE,Acceso SCIA,CIMIANO - ROTTOLE - Q.RE FELTRE
4,MI LAMBRO,Acceso SCIA,CIMIANO - ROTTOLE - Q.RE FELTRE
5,VIA RIZZOLI,Acceso SCIA,CIMIANO - ROTTOLE - Q.RE FELTRE
6,5G SAN RAFFAELE,Acceso SCIA,CIMIANO - ROTTOLE - Q.RE FELTRE
7,CASCINA GOBBA,Acceso SCIA,CIMIANO - ROTTOLE - Q.RE FELTRE
8,VIA PADOVA,Acceso SCIA,CIMIANO - ROTTOLE - Q.RE FELTRE

12. Visualizzare il quartiere con più impianti

In [ ]:
result = db.impianti.aggregate([{"$group": {"_id": "$MUNICIPIO", "total": {"$sum": 1}}},
                                {"$sort": {"_id": -1}}])
df2 = pd.DataFrame(list(result))
df2

    _id  total
0     9    154
1     8    349
2     7    188
3     6    141
4     5     88
5     4    138
6     3    154
7     2    163
8     1    411
9  None      7